@model IEnumerable<DKTFinal.Models.Race>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceClass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceClass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RaceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RaceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RaceID })
        </td>
    </tr>
}

</table>
